.item {
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    max-width: 45rem;
    margin: 0 auto;
    letter-spacing: 1px;
    border-top: 1px solid rgb(228, 224, 224);
}

span {
    font-weight: 500;
}

.item__content {
    align-items: flex-start;
}

.item p {
    width: 200px;
    line-height: 12px;
    overflow-wrap: break-word;
    padding-top: 0;
}

.item__numeration {
    display: flex;
    align-items: flex-start;
    margin: 0 1.5rem;
    font-weight: 100;
}

.item__numeration span {
    font-size: 40px; 

}

