.summary {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin: 0 auto;
}

span {
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
}

.buttons button {
    height: 60px;
    width: 120px;
    margin: 20px 10px 0 10px;
    border: 2px solid rgb(24, 23, 23);
    color: rgb(24, 23, 23);
    border-radius: 3px;
    background-color: rgb(255, 254, 254);
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
}

form {
    margin: 20px 0; 
}

.buttons button:hover {
    background-color: rgb(24, 23, 23);
    color: rgb(255, 254, 254); 
}

.sendBtn {
    height: 30px;
    width: 80px; 
    margin-left: 15px;
    color: rgb(245, 239, 239);
    background-color: rgb(31, 29, 29);
    font-size: 14px; 
}

.sendBtn:hover {
    color: rgb(31, 29, 29);
    background-color: rgb(243, 237, 237);
}

