.summary {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    width: 80%;
    text-align: center;
    margin: 15px auto;
}

.scoreLink {
    font-size: 14px; 
    color: rgb(90, 90, 219); 
}

.scoreLink:hover {
    color:rgb(79, 79, 168)
}

.card { 
    width: 320px;
    margin: 0 auto;
    padding: 10px 0 0 25px;
    font-weight: 300; 
    letter-spacing: 2px;
    line-height: 5px;
    text-align: left;
    color: rgb(34, 33, 33);
}

.summary span {
    font-weight: 700;
}

.input {
    border: 1px solid rgb(20, 20, 20);
    border-radius: 5px;
}

.inputError{
    border: 2px solid rgb(20, 20, 20);
    background-color: rgb(250, 202, 202);
    border-radius: 5px;
}

.save input {
    height: 30px;
}

.message {
    position: absolute;
    margin: 0 auto;
}

