.typing {
    width: 75%;
    margin: 0 auto 25px auto; 
}

.typing textarea {
    padding: 10px;
    width: 100%;
    height: 250px;
}

.typing__item {
    font-size: 15px;
    font-weight: bold;
    color: rgb(155, 147, 147);
}
