.start {
    width: 75%; 
    margin: 30px auto 0 auto;
    text-align: center;
}

.start h2 {
    font-weight: 400;
    font-size: 22px;
    color: rgb(59, 59, 59);
}

.bolded {
    font-weight: 600;
}
