.nav {
    height: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(39, 38, 38);
    margin-bottom: 25px;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style: none;
    padding-right: 15px;
}

li {
    text-align: center;
    padding-right: 20px;
    height: 100%;
}

a {
    text-decoration: none;
    padding-bottom: auto;
    font-size: 15px;
    color: rgb(221, 219, 219);
    font-weight: 500;
    text-transform: uppercase;
}

a:hover {
    color:rgb(255, 255, 255);
}

a.active {
    color: #95bcf0;

  }